body {
    margin: 0px;
    background:slategray;
    background-image: linear-gradient(to left, slategray 45%, white);
}

/* Backgrounds */
#instructions_div{
    position: absolute;
    height: 93vh;
    width: 87vw;
    top: 4vh;
    left: 6vw;
    background: rgb(125, 159, 156);
    z-index: 1;
    visibility: hidden;
}

#exit_button{
    max-width: 5vw;
    position: absolute;
    top: 2vh;
    left: 77vw; 
}

#instructions_headline{
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    left: 21vw;
}

#instuctions {
  position: relative;
  top: 14vh;
  padding: 6vw;
  font-size: 1.5rem;
}

#example{
  position: relative;
  left: 25vw;
  top: 10vh;
  font-size: 1rem;
}

#foreground{
    position: relative;
    height: 93vh;
    width: 87vw;
    top: 4vh;
    left: 6vw;
    background:rgb(94, 82, 194);
    z-index: 2;
    text-align: center;
    border-color: black;
    border-width: 2vw;
    border-style: solid;
}

/* Information in foreground */

#instructions_button{
    max-width: 3vh;
    position: relative;
    left: 36vw;
    top: 1.5vh;
}

#heading{
    letter-spacing: 3vw;
    font-size: 13vw;
    text-align:inherit;
    position: relative;
    left: 0vw;
    z-index: 0;
}

#congratulations_text{
    font-size: 5vw;
    font-weight: bold;
    z-index: 0;
}
#presented_headline{
    line-height: 8vh;
    font-size: 7vw;
    padding: 4vw;
    text-align: center;
}
#guess_box{
    position: relative;
    font-size: 60%;
    top: 1vh;
    width: 36vw;
    height: 4vh;
    z-index: 0;
}
#submit_button{
    font-size: 6vw;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    height: 4vh;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 16vw;
    left: 14vh;
    position: relative;
    bottom: 5.7vh;
}

#submit_button:focus {
  color: #171e29;
}

#submit_button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#submit_button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  #submit_button {
    min-width: 170px;
  }
}

#share_button{
    visibility: hidden;
}
#cross{
    position: relative;
    font-size: 130%;
    left: 26vw;
    bottom: 8.3vh;
    z-index: 0;
}
