body {
    min-height: 100vh;
    margin: 0px;
  }


/* Backgrounds */
#first_background{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0px;
    background:slategray;
    z-index: -3;
}

#second_background{
    position: absolute;
    background:black;
    top: 2vh;
    height: 97vh;
    width: 94vw;
    left: 2vw;
    z-index: -2;
}

#foreground{
    position: relative;
    height: 93vh;
    width: 87vw;
    top: 2vh;
    left: 6vw;
    background:rgb(94, 82, 194);
    z-index: -1;
    text-align: center;

}

/* Information in foreground */

#instruction{
    text-align: right;
    z-index: 0;
}

#heading{
    letter-spacing: 3vw;
    font-size: 13vw;
    text-align:inherit;
    position: relative;
    left: 0vw;
    z-index: 0;
}

#congratulations_text{
    font-size: 5vw;
    font-weight: bold;
    z-index: 0;
}
#presented_headline{
    line-height: 8vh;
    font-size: 7vw;
    padding: 4vw;
    text-align: justify;
    z-index: 0;
}
#guess_box{
    position: absolute;
    top: 1vh;
    width: 36vw;
    height: 4vh;
    position: relative;
    z-index: 0;
}
#submit_button{
    font-size: 6vw;
    z-index: 0;
}
#cross{
    position: relative;
    font-size: 130%;
    left: 26vw;
    bottom: 8.3vh;
    z-index: 0;
}
