body {
    position: absolute;
    min-height: 100vh;
    margin: 0px;
    z-index: -4;
  }


/* Backgrounds */
#first_background{
    position: absolute;
    width: 50vw;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0px;
    background:slategray;
    z-index: -3;
}

#second_background{
    position: absolute;
    background:black;
    top: 1.75vh;
    height: 97vh;
    width: 94vw;
    left: 2vw;
    z-index: -2;
}

#foreground{
    position: relative;
    height: 93vh;
    width: 87vw;
    top: 2vh;
    left: 6vw;
    background:rgb(94, 82, 194);
    z-index: -1;
    text-align: center;
}

/* Information in foreground */

#instruction{
    text-align: right;
    z-index: 0;
}

#heading{
    position: absolute;
    letter-spacing: 1rem;
    font-size: 3rem;
    top: 6vh;
    z-index: 0;
    margin: 0;
    left: 11vw;
}

#congratulations_text{
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    z-index: 0;
}
#presented_headline{
    position: absolute;
    line-height: 8vh;
    font-size: 2rem;
    padding: 4vw;
    text-align: justify;
    z-index: 0;
    margin: 0;
    top: 15vh;
}
#box_and_cross{
    position: absolute;
    left: 26vw;
    bottom: 28vh;
}
#guess_box{
    position: relative;
    width: 32vw;
    height: 4vh;
    z-index: 0;
}
#cross{
    position: relative;
    font-size: 130%;
    width: 4vw;
    left: 43vw;
    z-index: 0;
    text-align: right;
    bottom: 6.2vh;
}
#submit_button{
    position: absolute;
    bottom: 10vh;
    z-index: 0;
    max-width: 10vh;
}
