body {
  margin: 0px;
  background:slategray;
  background-image: linear-gradient(to left, slategray 45%, white);
}

/* Backgrounds */
#instructions_div{
  position: fixed;
  height: 91.7vh;
  width: 85%;
  top: 4.5vh;
  left: 7.35%;
  background: rgb(227, 226, 111);
  z-index: 3;
  visibility: hidden;
}

#exit_button{
  max-width: 5vw;
  position: relative;
  top: -81vh;
  left: 77vw; 
}

/* Instructions headline, layered ontop  */

#instructions_headline{
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  left: 21vw;
}

#instuctions {
  position: relative;
  padding: 6vw;
  font-size: 4rem;
}

#example{
  position: relative;
  align-content: center;
  left: 17vw;
  font-size: 4rem;
}

/* Foreground containing game display and functionality  */

#foreground{
  position: relative;
  height: 93vh;
  width: 87%;
  top: 3vh;
  left: 4.5vw;
  background:rgb(94, 82, 194);
  z-index: 2;
  text-align: center;
  border-color: black;
  border-width: 2vw;
  border-style: solid;
  position: relative;
}

/* Information in foreground */

#instructions_button{
  max-width: 5vh;
  position: relative;
  left: 36vw;
  top: 1.5vh;
}

#heading{
  letter-spacing: 3vw;
  font-size: 13vw;
  text-align:inherit;
  position: relative;
  left: 0vw;
  z-index: 0;
}

#congratulations_text{
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  z-index: 0;
}
#presented_headline{
  line-height: 8vh;
  font-size: 7vw;
  padding: 4vw;
  text-align: center;
}

#input_and_cross{
  position: relative;
  height: 10vh;
}

#guess_box{
  position: absolute;
  align-content: center;
  font-size: 200%;
  text-align: center;
  left: 19vw;
  width: 50vw;
  height: 55px;
  z-index: 0;
}
#submit_button{
  position: absolute;
  font-size: 4vw;
  right: 0.5vh;
  top: 0.5vh;
  align-content: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 0 17px;
  align-items: center;
  border: 2px solid #000;
  
}

#share_button{
  visibility: hidden;
}
#cross{
  position: absolute;
  font-size: 200%;
  left: 12vw;
  top: -1.3vh;
  z-index: 2;
  visibility: visible;
}
