body {
  margin: 0px;
  height: 95vh;
  background:slategray;
  background-image: linear-gradient(to left, slategray 45%, white);
}

/* Backgrounds */
#instructions_div{
  position: fixed;
  height: 92vh;
  width: 85.5%;
  top: 3.8vh;
  left: 7.3%;
  background: rgb(227, 226, 111);
  z-index: 3;
  visibility: hidden;
}

#exit_button{
  max-width: 5vw;
  position: fixed;
  top: 6vh;
  right: 10vw; 
}

/* Instructions headline, layered ontop  */

#instructions_headline{
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  left: 21vw;
}

#instuctions {
  position: relative;
  padding: 8vw;
  font-size: 1.6rem;
}

#example{
  position: relative;
  text-align: center;
  font-size: 2rem;
}

/* Foreground containing game display and functionality  */

#foreground{
  height: 100%;
  margin: 3vw;
  background:rgb(94, 82, 194);
  /*! text-align: center; */
  border-color: black;
  border-width: 2vw;
  border-style: solid;
}

#instructions_button{
  max-width: 9vh;
  margin: 3vw;
  width: 10vw;
  display: block;
  float: right;
  position: relative;
}

/* Information in foreground */

#heading{
  clear: right;
  margin: 0;
  letter-spacing: 3vw;
  font-size: clamp(10vh, 10vh, 14vw);
  text-align:center;
  display: block;
}

#congratulations_text{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 0;
}

#presented_headline{
  font-size: clamp(4vh, 4vh, 7vw);
  margin: 4vw;
  text-align: center;
}

#input_and_cross{
  height: 10vh
}

#guess_box{
  align-content: center;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  height: 50%;
  float: right;
  padding: 0;
  margin: 0;
}

#submit_button{
  margin-left: 1vh;
  margin-right: 1vh;
  font-size: 1.5rem;
  border: 2px solid #000;
  height: 55%;
  float: right;
}

#share_button{
  visibility: hidden;
}

#cross{
  font-size: 4vh;
  visibility: visible;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  margin-left: 2vh;
  display: inline;
}
